      

.card-image-container {
  position: relative;
  width: 100px;   
  height: 120px;  
  border-radius: 1px;
  overflow: hidden;
  background-image: url('https://cdn.jsdelivr.net/gh/monorolls/zero@main/BQ4LXx7.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;


}



  .card img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    position: relative;
    z-index: 2;
  }



  .card-info { 
    flex: 1; 
    color: white;
  }
  
.card-title {
  white-space: nowrap;      
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  font-size: 18px;           
  margin-bottom: 4px;
  overflow: hidden;          
  text-overflow: ellipsis;   
}



  
  .rarity {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .stock { 
    font-size: 18px; 
    color: #473632; 
    margin-bottom: 8px;
  }

  .prices { 
    display: flex;

    gap: 6px; 
    margin-top: 6px; 
  }

  .price-green, .price-purple {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 32px;
    border-radius: 6px;
    font-weight: 900;
    font-size: 19px;
    border: 1px solid #000;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: black 0px .1rem 0px 0px, rgba(0, 0, 0, 0.6) 0px 0.1rem 0.125rem 0px;

  }
.price-victor {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    border: 1px solid #000;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
      box-shadow: black 0px .1rem 0px 0px, rgba(0, 0, 0, 0.6) 0px 0.1rem 0.125rem 0px;

  }
  .price-green:hover, .price-purple:hover, .price-victor:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }

  .price-green { 
    background: #e7efec; 
    color: white; 
  }
    .price-victor { 
    background: #1beae7; 
    color: white; 
  }
  
  .price-purple { 
    background: #ca13c8; 
    color: white; 
  }

  .form-wrapper {
    display: none;
    padding: 20px;
    text-align: center;
    color: white;
  }

  .form-wrapper input {
    width: 100%;
   padding: 12px 15px;
   border: 1px solid #ffff;
   border-radius: 4px;
   font-size: 10px;
   margin-bottom: 15px;
   box-sizing: border-box;
   font-family: inherit;
   background: #000000;
   color: white;
}

  #search {
   background: #375ff5;
   color: white;
   border: none;
   padding: 12px 25px;
   border-radius: 4px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   position: relative;
   font-family: inherit;
   transition: all 0.2s;
}


  #search:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }

  .loading-gif img {
 width: 150px;
    height: 150px;    margin-top: 10px;
  }

  .profile {
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }

  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 6px;
  }

  .continue-btn {
   background: #375ff5;
   color: white;
   border: none;
   padding: 12px 25px;
   border-radius: 4px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   position: relative;
   font-family: inherit;
   transition: all 0.2s;
}

  .continue-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }

  .d-none { 
    display: none; 
  }
  
  .header-buttons {
    display: flex;
    gap: 6px;
  }

  .restock-btn, .close-btn {
    border: none;
    padding: 4px 10px;
    font-weight: 900;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    transition: transform 0.1s;
  }

  .restock-btn:active, .close-btn:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }

  .restock-btn {
    background: linear-gradient(to bottom, #ffd95b, #f6b732);
  }
  
  .close-btn {
    background: #d62828;
    color: white;
  }
.price-green,
.price-purple,
.price-victor span {
  color: #fff; 
  text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
  letter-spacing: 2px; 
}

.card-title,

.shop-header span {
  color: #fff; 
  text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
  letter-spacing: 3px; 
}


#formWrapper h2 {
  font-size: 13px; 
}
  .welcome-text {
    font-size: 15px;       
    letter-spacing: 2px;  
    word-spacing: 2px;     
    margin-bottom: 30px;   
        line-height: 22px;     

  }
   .profile .welcome-text .item-placeholder {
    color: white;               
    text-decoration-line: underline; 
    text-decoration-style: double;   
  }
    
